body {
    background-color: #f2f2f2;
}

.h1Header {
    background-color: white;
    text-shadow: 1px -2px 4px black;
    text-align: center;
}

.h1,
h1 {
    color: darkcyan;
    font-family: -webkit-body;
    font-size: 115px;
    text-shadow: 7px -4px 7px black;
}

.h2,
h2 {
    border-bottom: 3px solid darkcyan;
    font-size: 23px;
    font-weight: 900;
    font-family: inherit;
}


.img-circle {
    border-radius: 50%;
    margin-top: 52px;
    box-shadow: 2px -7px 20px 0px black;
    transition: opacity 1.5s ease-in-out;
}

img {
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 2px -7px 20px 0px black;
}


.img-circleBandera {
    border-radius: 50%;
    margin-top: 200px;
    margin-left: 30px;
    box-shadow: 2px -7px 20px 0px black;
    transition: opacity 1.5s ease-in-out;
}

.img-circle:hover {
    transform: url(imgCongreso/Trump.jpg) no-repeat;
}

footer {
    background-color: darkcyan;
    border-radius: 20px;
    color: white;
    margin-bottom: 35px;
}

button {
    width: auto;
}

button,
input,
select,
textarea {

    font-family: ;
    border: none;
    background: border-box;
    color: darkcyan;
}

p {
    margin-top:10px;
    font-weight: inherit;
}

.btn-primary {
    color: #fff;
    background-color: darkcyan;
    border: white 5px solid;
    border-radius: 19px;
}

.col-lg-2 {
    padding: 11px;
    width: auto;
}

.btn-link {
    color: #fff;
    background-color: #337ab7;
    border: white 5px solid;
    border-radius: 19px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1;
    display: none;
    padding: 5px 0;
    margin: -10px 0 0;
    font-size: 17px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    border: 15px solid black;
    border-radius: 34px;
}

button a {
    color: white;
    text-decoration: none;
}

/*
table {
    background-color: white;
    margin: 36px;
}
*/

/*
td {
    text-align: center;
    border: 10px solid lightslategrey;
    width: 208px;
    height: 50px;
}

th {
    text-align: center;
    border: 10px solid lightslategrey;
    width: 208px;
    height: 50px;
}
*/


/*
.td,
a {
    color: blue;
    text-decoration: none;
}
*/
.aHomme {
    color: white;
    text-decoration: none;
}

.selected {
    text-align: center;
}

select {
    font-family: ;
    border: 5px solid lightslategrey;
    background: border-box;
    color: darkcyan;
}


.divButton {
    background-color: darkcyan;
    border-radius: 20px;
}
.tableAtt{
    margin-top: 26px;
}


.loader {
  font-size: 10px;
  margin: 30% auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dcecb;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}